# Git
.git
.gitignore

# Docker
Dockerfile
docker-compose.yml
.dockerignore

# Python
__pycache__/
*.pyc
*.pyo
*.pyd
.Python
env/
venv/
.env/
.venv/

# Dossiers de données
uploads/*
results/*

# Divers
.DS_Store
*.log
.idea/
.vscode/
